.feature-body {
  .pref {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    .pref-item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
    .checkbox {
      display: flex;
      gap: 5px;
    }
  }

  .maincontent {
    display: flex;
    justify-content: center;
    table {
      .is-active {
        font-weight: bold;
        color: hsl(0, 0%, 86%);
      }
    }
  }
}