@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply
    font-global
    dark:text-gray-200;
}

body {
  @apply
    dark:bg-zinc-900;
}

.tab {
  a {
    @apply
      no-underline;
  }
  @apply 
    flex
    gap-1
    cursor-default
    bg-gray-200 
    p-1 
    rounded-[8px] 
    shadow-inner select-none
    dark:bg-zinc-800;
  li {
    @apply 
      text-lg 
      px-4
      py-2 
      rounded-[6px];
    &:hover {
      @apply 
        bg-gray-300
        dark:bg-zinc-700;
    }
  }
  .is-active{
    @apply 
      bg-white 
      shadow-sm
      dark:bg-zinc-900;
    &:hover {
      @apply 
        bg-white
        dark:bg-zinc-900;
    }
  }
}

.button {
  @apply
    flex
    bg-white
    dark:bg-zinc-800
    px-4
    py-2
    border-solid
    border-gray-200
    dark:border-slate-600
    border-[1px]
    rounded-[4px]
    select-none
    cursor-pointer
    active:shadow-inner
    active:bg-slate-100
    dark:active:bg-zinc-700
    hover:border-gray-400;
}
.dropdown {
  @apply
    relative;
  
  .dropdown-menu {
    @apply 
      absolute
      border-gray-200
      dark:border-slate-600
      border-solid
      border-[1px]
      shadow-md
      dark:shadow-black/40
      min-w-72
      mt-2
      bg-white
      dark:bg-zinc-800
      rounded-[4px]
      right-0
      hidden
      z-10;
    
      .dropdown-content {
        a {
          @apply
            no-underline;
        }
        @apply
          flex
          flex-col
          max-h-96
          overflow-y-scroll;
          .dropdown-item {
            @apply
              px-4
              py-2;
            &:hover {
              @apply
                bg-gray-100
                dark:bg-zinc-700;
            }
          }
          hr{
            @apply
              border-t
              dark:border-slate-600;
          }
      }
      
  }
}

.dropdown.is-active {
  .button {
    @apply
      bg-slate-100
      dark:bg-zinc-700
      shadow-inner
      border-gray-400;
  }
  .dropdown-menu {
    @apply
      block;
  }
}

.input {
  @apply
    w-full
    bg-white
    dark:bg-zinc-800
    outline-none
    rounded-[4px]
    border-solid border-[1px]
    border-gray-200 dark:border-slate-600
    shadow-inner dark:shadow-black/40
    px-3
    py-2
    focus:border-sky-600
    focus:shadow-sky-600/20;
    &::-webkit-inner-spin-button {
      @apply
        appearance-none;
    }
}

.all-countries-modal {
  @apply hidden;
}
.all-countries-modal.is-active {
  @apply flex;
}

a {
  @apply
    underline
    decoration-sky-200
    dark:decoration-sky-800
    decoration-8
    hover:decoration-sky-400
    dark:hover:decoration-sky-600
    underline-offset-[-4px];
}

table {
  @apply
    w-full
    border-collapse
    border-solid
    border-gray-200
    dark:border-slate-600
    border-[1px];
  thead {
    @apply rounded-md;
  }
  th, td {
    @apply
      border-solid
      border-gray-200
      dark:border-slate-600
      border-[1px]
      px-4
      py-2;
  }
  th {
    @apply
      bg-gray-100
      dark:bg-zinc-800;
  }
  tr {
    @apply
      hover:bg-gray-100
      dark:hover:bg-zinc-700;
  }
  .is-active {
    @apply
    font-semibold;
  }
}