.container {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .country-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .calculator-body {
    display: flex;
    gap: 20px;
    .module {
      flex: 1;
      gap: 30px;
      .input {
        font-size: 30px;
      }
      .year {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .selector {
          display: flex;
          gap: 10px;
          align-items: center;        
        }
      }
    }
  }
  .footer-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 40px;
  }
}

.module {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.country-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .item {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #e0e0e0;
    }
  }
}